* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(221, 226, 219);
  color: black;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}
.navbar .toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.navbar .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
.navbar .navbar-links {
  height: 100%;
}
.navbar .navbar-links ul {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
.navbar .navbar-links ul li {
  list-style: none;
}
.navbar .navbar-links ul li :hover {
  background-color: #555;
}
.navbar .navbar-links ul li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1rem;
}

@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar .toggle-button {
    display: flex;
  }
  .navbar .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar .navbar-links ul li {
    text-align: center;
  }
  .navbar .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }
  .navbar .navbar-links.active {
    display: flex;
  }
}
@media (min-width: 330px) {
  body {
    display: grid;
    grid-template-columns: 100%;
    font-family: "PT Sans", sans-serif;
  }

  .Shop {
    padding: 1em;
  }
  .Shop #title {
    text-align: center;
    font-size: 4rem;
    font-family: "Fredoka One", cursive;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
  .Shop form .details {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding: 1em 0;
    font-weight: 700;
  }
  .Shop form .choose-order {
    font-size: 3em;
    font-family: "Fredoka One", cursive;
    margin-bottom: 0.5em;
    text-align: center;
  }
  .Shop form .product-container {
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    background-color: rgb(221, 226, 219);
  }
  .Shop form .product-container .product-item {
    padding: 1em;
  }
  .Shop form .product-container img {
    width: 50vw;
    height: 50vw;
    object-fit: cover;
  }
  .Shop form .product-container figcaption {
    margin-top: 0.3em;
  }
  .Shop form .product-container figcaption .product-name {
    font-size: 2rem;
    font-weight: 700;
  }
  .Shop form .product-container figcaption p {
    font-style: italic;
    margin-top: 0.5em;
  }
  .Shop form .product-container .hot-or-cold {
    display: flex;
    justify-content: space-evenly;
    font-weight: 400;
  }
  .Shop form .product-container .hot-or-cold .hot, .Shop form .product-container .hot-or-cold .cold {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Shop form .product-container .hot-or-cold .hot label, .Shop form .product-container .hot-or-cold .cold label {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 4em;
  }
  .Shop form .bottom-details {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
  }
  .Shop form .bottom-details .choose-payment {
    margin-top: 1em;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .Shop form .bottom-details .radio-button {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
  }
  .Shop form .bottom-details .radio-button label {
    margin: 0.2em 1em;
  }
  .Shop form .bottom-details .coupon {
    margin: 1em 0;
  }
  .Shop form .bottom-details #message {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 1em 0;
  }
  .Shop form .submit-section {
    display: flex;
    justify-content: center;
  }
  .Shop form .submit-section #reset, .Shop form .submit-section #submit {
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 1rem 1rem;
    margin: 1em;
  }

  footer {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.3rem;
    padding: 2em 0;
    background-color: rgb(221, 226, 219);
  }

  .scroll-up {
    display: flex;
    position: fixed;
    width: 30px;
    height: 30px;
    background: rgb(91, 94, 90);
    bottom: 0px;
    right: 0px;
  }
  .scroll-up img {
    width: 2vw;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .Shop {
    padding: 1em 3em;
  }
  .Shop #title {
    margin-top: 0;
  }

  .Shop form .product-container img {
    max-width: 21rem;
    max-height: 21rem;
  }

  .scroll-up {
    width: 40px;
    height: 40px;
    right: 10px;
    bottom: 10px;
  }
}
@media (min-width: 1000px) {
  .Shop {
    padding: 2em 5em;
  }
  .Shop form .product-container {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    background-color: rgb(221, 226, 219);
  }
  .Shop form .product-container img {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
  }

  .scroll-up {
    width: 50px;
    height: 50px;
    right: 20px;
    bottom: 20px;
  }
}

/*# sourceMappingURL=action-style.css.map */
