* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "navbar" "home" "product" "materials" "testimonies" "CTA";
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(221, 226, 219);
  color: black;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}
.navbar .toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.navbar .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
.navbar .navbar-links {
  height: 100%;
}
.navbar .navbar-links ul {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
.navbar .navbar-links ul li {
  list-style: none;
}
.navbar .navbar-links ul li :hover {
  background-color: #555;
}
.navbar .navbar-links ul li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1rem;
}

@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar .toggle-button {
    display: flex;
  }
  .navbar .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar .navbar-links ul li {
    text-align: center;
  }
  .navbar .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }
  .navbar .navbar-links.active {
    display: flex;
  }
}
@media (min-width: 330px) {
  #home {
    grid-area: home;
    display: grid;
    padding: 0.8em;
  }
  #home #leftside {
    grid-area: text;
  }
  #home #leftside #logotext {
    color: rgb(91, 94, 90);
    font-size: 1em;
    display: flex;
    align-items: center;
  }
  #home #leftside #logotext img {
    width: 3rem;
    height: 3rem;
  }
  #home #leftside #logotext p {
    font-family: "Dancing Script", cursive;
    padding-left: 0.5rem;
  }
  #home #leftside form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    font-family: "PT Sans", sans-serif;
  }
  #home #leftside form #email {
    width: 13rem;
    font-weight: 400;
    font-size: 0.8rem;
    padding: 1.25rem 0.3rem;
  }
  #home #leftside form #submit {
    background-color: black;
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 1.25rem 0.9rem;
  }
  #home #leftside #promo-tag {
    font-family: "Fredoka One", cursive;
    font-size: 4rem;
    letter-spacing: 0.3rem;
    margin-top: 0.5rem;
  }
  #home #leftside #validity-date {
    font-family: "PT Sans", sans-serif;
    font-style: italic;
    font-size: 1rem;
    color: rgb(91, 94, 90);
    margin-top: 1em;
  }
  #home #rightside {
    grid-area: picture;
    display: flex;
    height: 30rem;
  }
  #home #rightside {
    display: none;
  }

  #product {
    grid-area: product;
    padding: 0.8em;
    text-align: center;
    background-color: rgb(221, 226, 219);
    font-family: "PT Sans", sans-serif;
  }
  #product #product-heading {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
  }
  #product .product-subname {
    font-family: "Dancing Script", cursive;
    margin-top: 0.5em;
  }
  #product p {
    width: 80%;
    color: rgb(91, 94, 90);
    margin: 0 auto;
  }
  #product section {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    margin-top: 2em;
    row-gap: 2em;
  }
  #product section div {
    padding: 0.5em;
  }
  #product section div img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
  }
  #product section figcaption {
    margin-top: 1em;
  }
  #product section figcaption .product-name {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
  }
  #product section figcaption p {
    font-style: italic;
  }

  #materials {
    grid-area: ingridients;
    padding: 0.8em;
    text-align: center;
    font-family: "PT Sans", sans-serif;
  }
  #materials #materials-heading {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
  }
  #materials .materials-subname {
    font-family: "Dancing Script", cursive;
    margin-top: 0.5em;
    color: rgb(91, 94, 90);
  }
  #materials section {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2em;
    justify-content: center;
    row-gap: 3em;
  }
  #materials section img {
    width: 10em;
    height: 10em;
    object-fit: cover;
  }
  #materials section p {
    font-size: 1.2rem;
    margin: 1em 0;
    font-weight: bold;
  }

  #testimonies {
    padding: 0.8em;
    grid-area: testimonies;
    text-align: center;
    background-color: rgb(221, 226, 219);
    font-family: "PT Sans", sans-serif;
  }
  #testimonies #testimonies-heading {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    padding: 1em;
  }
  #testimonies section {
    color: rgb(91, 94, 90);
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    margin-top: 2em;
  }
  #testimonies section div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 1em;
  }
  #testimonies section div p {
    margin-bottom: 0.7em;
    text-align: justify;
    font-weight: 400;
    line-height: 200%;
  }
  #testimonies section div .testimonial-name {
    font-family: "Dancing Script", cursive;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.03rem;
    font-weight: 700;
  }

  #CTA {
    grid-area: CTA;
    padding: 0.8em;
    display: grid;
    font-family: "PT Sans", sans-serif;
  }
  #CTA .image {
    justify-content: end;
  }
  #CTA .image img {
    width: 19rem;
    height: 30rem;
    object-fit: cover;
  }
  #CTA .image .image {
    display: none;
  }
  #CTA .right-side {
    display: flex;
    flex-direction: column;
  }
  #CTA .right-side .tag {
    font-size: 1.5rem;
    color: rgb(91, 94, 90);
  }
  #CTA .right-side .promo {
    font-family: "Fredoka One", cursive;
    font-size: 4rem;
    letter-spacing: 0.3rem;
    margin-top: 0.5em;
  }
  #CTA .right-side form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
  }
  #CTA .right-side form #email {
    width: 13rem;
    font-size: 0.8rem;
    padding: 1.25rem 0.3rem;
  }
  #CTA .right-side form #submit {
    background-color: black;
    color: white;
    font-size: 0.8rem;
    padding: 1.25rem 0.9rem;
  }
  #CTA .right-side .validity {
    font-size: 1rem;
    color: rgb(91, 94, 90);
    margin-top: 1em;
    font-style: italic;
  }

  .scroll-up {
    display: flex;
    position: fixed;
    width: 30px;
    height: 30px;
    background: rgb(91, 94, 90);
    bottom: 100px;
    right: 0px;
  }
  .scroll-up img {
    width: 2vw;
    margin: auto;
  }

  footer {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.3rem;
    padding: 2em 0;
    background-color: rgb(221, 226, 219);
  }
}
@media (min-width: 768px) {
  #home {
    grid-template-columns: 60% 40%;
    grid-template-areas: "text picture";
    padding: 1.5em;
  }
  #home #leftside {
    padding-right: 5vw;
  }
  #home #leftside #validity-date {
    padding: 0 5vw;
  }
  #home #rightside {
    display: flex;
  }

  #product section {
    grid-template-columns: 50% 50%;
    justify-content: center;
    margin-top: 2em;
  }

  #materials section img {
    width: 15em;
    height: 15em;
    object-fit: cover;
  }

  #testimonies section {
    grid-template-columns: 30% 30% 30%;
  }

  #CTA {
    grid-template-columns: 45% 55%;
  }
  #CTA .image {
    display: flex;
  }
  #CTA .right-side {
    padding-left: 3vw;
  }
  #CTA .right-side .validity {
    padding: 0 5vw;
  }

  body #product, body #materials, body #testimonies, body #CTA {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .scroll-up {
    width: 40px;
    height: 40px;
    right: 10px;
    bottom: 100px;
  }
}
@media (min-width: 1000px) {
  .outside-border {
    padding: 0 3vw;
    background-color: white;
  }

  body #home, body #product, body #materials, body #testimonies, body #CTA {
    background-color: white;
  }

  #home {
    grid-template-columns: 50% 50%;
    column-gap: 3vw;
  }
  #home #leftside {
    padding-right: 0;
    text-align: end;
  }
  #home #leftside #validity-date {
    padding: 0 0 0 4rem;
  }
  #home #leftside form {
    justify-content: end;
  }
  #home #leftside #logotext {
    margin-left: 5em;
  }
  #home #rightside {
    width: 30vw;
    justify-content: center;
    padding: 2em;
    background-color: rgb(221, 226, 219);
  }

  #testimonies section div {
    padding: 0 3vw;
  }

  #CTA .right-side {
    text-align: start;
  }
  #CTA .right-side .validity {
    padding: 0 5rem 0 0rem;
  }
  #CTA .right-side form {
    justify-content: start;
  }

  #product section, #materials section, #testimonies section {
    padding: 5vw 0;
    background-color: rgb(221, 226, 219);
  }

  section #materials {
    padding-top: 0;
  }

  section #testimonies {
    padding-top: 0;
  }

  #product .background, #materials .background, #testimonies .background {
    padding: 0 5vw 3vw 5vw;
  }

  .scroll-up {
    width: 50px;
    height: 50px;
    right: 20px;
    bottom: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
